<div class="card" style="width: 18rem;">
    <img src="assets/images/calculator.png" class="card-img-top" alt="Calculator Image">
    <div class="card-body">
      <h5 class="card-title">Calculator</h5>
      <p class="card-text">A calculator is a device or program that performs mathematical calculations.</p>
      <a routerLink="/calculator" class="btn btn-primary">Check it out</a>
    </div>
</div>

  
<div class="card" style="width: 18rem;">
    <img src="assets/images/pic-1.jpg" class="card-img-top" alt="Temperature Converter">
    <div class="card-body">
      <h5 class="card-title">Temperature Converter</h5>
      <p class="card-text">Free online temperature converter - converts between 6 units of temperature, including kelvin [K], Celsius [°C], Fahrenheit [°F], Rankine [°R], etc. </p>
      <a routerLink="/temp" class="btn btn-primary">Check it out</a>
    </div>
  </div>
  
