<div>
  <form [formGroup]="studentForm" (ngSubmit)="saveStudent()">
    <label for="username">Username:</label>
    <input id="username" formControlName="username">
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <button type="submit">{{ isEditing ? 'Update' : 'Create' }} Student</button>
  </form>
</div>

<div *ngIf="students.length > 0; else noData">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.id }}</td>
        <td>{{ student.username }}</td>
        <td>{{ student.password }}</td>
        <td>
          <button class="edit" (click)="editStudent(student)">Edit</button>
          <button class="delete" (click)="deleteStudent(student.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noData>
  <p>No students available.</p>
</ng-template>